* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(212, 209, 209);
}


h1,h2,h3 {
    color: #575656
}
@import './player';
@import './song';
@import './library';
@import './nav'
